*{ margin: 0; padding: 0; box-sizing: border-box; }

body{
	min-height: 100vh;
	display: flex; justify-content: center;
	align-items: center;
	 background: radial-gradient(circle, black, white);
	font-family: 'Poppins', sans-serif;
}

.card{
	width: 320px;
	background-color: #fff;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 20px 25px rgba(97, 161, 221,0.2);
	text-align: center;
}

.card-header{
	padding: 35px 0;
	background-image: linear-gradient(60deg,#0083FD,#61A1DD);
}

.card-header img{
	width: 120px; height: 120px;
	object-fit: cover;
	border-radius: 50%;
	box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.card-body{
	color: #565656;
	padding:35px;
}

.card-body h2{
	text-transform: uppercase; font-size: 24px;
}


.card-body .about{ margin-bottom: 30px; }

.card-body .btn{
	display: inline-block;
	text-decoration: none;
	padding: 16px 48px;
	background-image: linear-gradient(60deg,#0083FD,#61A1DD);
	color: #fff;
	border-radius: 100px;
	margin-bottom: 10px;
	transition: all 0.3s;
}

.card-body .btn:hover{ opacity: 0.8; }


.video-container{
	position: fixed;
	top: 0; left: 0;
	width: 100%; height: 100%;
	z-index: 99999;
	 background: radial-gradient(circle, black, white);
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s;
}

.video-container .close{
	position: absolute;
	top: 10px; right: 25px;
	font-size: 20px;
	cursor: pointer;
}

.video-container video{
	width: 90%;
	max-width: 800px;
	transform: scale(0);
	box-shadow: 0 20px 20px rgba(0,0,0,0.2);
	outline: none;
	transition: all 0.3s;
}

.video-container.show{
	pointer-events: all; opacity: 1;
}

.video-container.show video{ transform: scale(1); }